
/RayMarching_Python/.spyproject
/RayMarching_Python/__pycache__
/RayMarching_Python/common/__pycache__
/Swarms/.vs
/Swarms/python/__pycache__
/Swarms/python/.spyproject
/Swarms/obj
/ExpressiveAliens_4arms/.vs
/ExpressiveAliens_4arms/obj
/ExpressiveAliens_4arms/python/.spyproject
/Utilities/mocap_player_v4/.spyproject
/Utilities/mocap_player_v4/__pycache__
/Utilities/mocap_player_v4/common/__pycache__
/Utilities/mocap_player_v4_rhand/.spyproject
/Utilities/mocap_player_v4_rhand/__pycache__
/Utilities/mocap_player_v4_rhand/common/__pycache__
/Utilities/mvn2bvh_osc_live/.spyproject
/Utilities/mvn2bvh_osc_live/common/__pycache__
/Utilities/mvn2bvh_osc_live/debug
/Utilities/xsens2osc_v3/.vs
/Utilities/xsens2osc_v3/obj
/ExpressiveAliens_1arm/.vs
/ExpressiveAliens_1arm/obj
/ExpressiveAliens_1arm/python/.spyproject
/MovementContinuation/rnn/.spyproject
/MovementContinuation/rnn/common/__pycache__
/MovementContinuation/rnn/results_XSens_Gaiska_SnakeBody
/MovementContinuation/rnn/results
/Utilities/mocap_player_v4_snakeavatar/.spyproject
/Utilities/mocap_player_v4_snakeavatar/__pycache__
/Utilities/mocap_player_v4_snakeavatar/common/__pycache__
/Utilities/mocap2raymarch/.spyproject/config
/Utilities/mocap2raymarch/__pycache__
/Utilities/mocap2raymarch/common/__pycache__
/Swarms_Laser/.vs
/Swarms_Laser/obj
/Swarms_Laser/python/.spyproject
/Swarms_Laser/python/__pycache__
/Swarms_LightPainting/.vs
/Swarms_LightPainting/obj
/Swarms_LightPainting/python/.spyproject
/RayMarching_Python_Snake/common/__pycache__
/RayMarching_Python_Snake/__pycache__
/ExpressiveAliens_1arm/controls_old
/ExpressiveAliens_4arms/controls_old
